<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> Wallet Credits
				</div>
				<div class="card-body">
					<table datatable [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-sm text-center">
						<thead>
						<tr>
							<th>UID</th>
							<th>Amount</th>
							<th>REF</th>
							<th>Status</th>
							<th>Hooked</th>
							<th>Last Four</th>
							<th>Processed</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let item of cardPayments">
							<td><a routerLink="/users/{{item.uid}}">{{item.uid | slice:0:7}}..</a></td>
							<td><b>&#8358;{{item.amount | number: '.2'}}</b></td>
							<td>{{item.ref}}</td>
							<td >{{item.status}}</td>
							<td >{{item.hooked}}</td>
							<td >{{item.authorization.last4}}</td>
							<td>{{item.processed | date: 'dd/MM/yyyy'}}</td>
						</tr>
						</tbody>
					</table>
					<!--<nav>
					  <ul class="pagination">
						<li class="page-item"><a class="page-link" href="#">Prev</a></li>
						<li class="page-item active">
						  <a class="page-link" href="#">1</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					  </ul>
					</nav>-->
				</div>
			</div>
		</div>
	</div>
</div>
